<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Demo task for Petshop team</title>
</head>
<body>
<div align="center">
    <h2>User List</h2>
    <table border="1">
            <tr th:each="user :${userList}">
    <td th:utext="${user.userId}">
    <td th:utext="${user.userName}">
    <td th:utext="${user.userSex}">
    <td th:utext="${user.userYearOfBirthDay}">
    <td th:utext="${user.userEmail}">
            </tr>
    </table>
</div>
</body>
</html>